.main-class {
    font-family: 'PT Sans', sans-serif;
    width:100%;
    min-height:100%;
    font-size: 24px;
    line-height:1.6;
    color: #FEFEFE;
}

html,body {
    height:100;
    min-width:1024px;
    width: 100%;
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}

/* INTRO */
.container {
    width: 100%;
    position: absolute;
    top: 110px;
    text-align: center;
}

.intro-title {
    font-size: 36px;
    font-weight: 100;
    color: #FEFEFE;
}

.intro-downtitle {
    font-size: 20px;
    font-weight: 100;
    color:#f6c6c5;
}

.tire {
    margin:1em auto;
    height:5px;
    width:60px;
    border:none;
    background-color: #FEFEFE;
}

.intro {
    width: 100%;
    height: 960px;
    background-color: #DE2B24;
    background-size: cover;
}

.images-container {
    margin: 0 13.4%;
    position: relative;
    top: 300px;
    display: block;
    width: 1024px;
    margin: auto;
    margin-top: -0.45em;
}

.picture-box {
    position: relative;
    display: inline-block;
    border: none;
    margin-left: -.28em;
    width: 25%;
    height: 253px;
    background-color: #f35e59;
    overflow: hidden;
}

.picture-box:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
    transition: all 1s ease;
    z-index: 999;
}
.picture-box:hover:before {
	height: 265px;
}
.picture-plane {
    display: block;
    margin: 0 auto;
    padding-top: 73px;
}

.picture {
    width: 265px;
    height: 265px;
    position: absolute;
}

.project-name {
    text-align: center;
}

.under-project-text {
    text-align: center;
}

/* Second Screen */

.second-screen {
    width: 100%;
    height: 900px;
    background-color: #1287BF;
    background-size: cover;
}

.otstyp {
    top: 300px;
}

.picture-z {
    top: 15px;
}
.picture-z:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.submit-button {
    display: block;
    margin: auto;
    width: 1024px;
}

.submit:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.submit {
    background-color: #DE2B24;
    border: 2px solid #DE2B24;
    border-radius: 5px;
    position: relative;
    top: 40px;
    height: 50px;
    padding: 0 4.6%;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 11pt;
    left: 300px;
}

.submit:focus {
    border-color: #1287bf;
}

/* THIRD SCREEN */
.container-z {
    text-align: center;
    padding-top: 110px;
}

.second-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: #FEFEFE;
    margin-bottom: -0.3em;
}

.second-downtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #c8ebfc;
    margin-bottom: 0.4em;
}

.rectangle {
    position: relative;
    bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 450px;
    background-color: white;
    margin-top: -1.3em;
    
}
.triangular {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
    border-bottom: 70px solid white;
    margin-top: 15px;
   }

.rectangle-box {
    margin:auto;
    display:block;
    width:1024px;
}

.iamx:before,
.iamx:after {
    position: absolute;
    left: 23px;
    top: 10px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #ffffff;
}

.iamx:before {
    transform: rotate(45deg);
}

.iamx:after {
    transform: rotate(-45deg);
}

.circle {
    position:relative;
    bottom:60px;
    z-index: 20;
	width: 50px;
	height: 50px;
	background: red;
    border-radius: 50px;
    border:3px solid white;;
    margin-left: 86.5%;
}

.circle:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.rectangle-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 100;
    color: #8D8D8D;
    padding: 30px 40px;
    text-align: center;
}

.rectangle-textbox {
    display: block;
    margin: auto;
    width: 1024px;
    border-radius: 6px;
}


.rectangle-textbox input {
    position: relative;
    top: 15px;
    height: 55px;
    width: 550px;
    background-color: #FFFFFF;
    padding: 0 1.6%;
    border: 2px solid #CECECE;
    font-family: 'Roboto';
    border-radius: 6px;
    font-size: 14pt;
    margin: 3px;
    left: 100px;
}
.rectangle-textbox input:focus {
    border-color: #1287bf;
    border-radius: 6px;
}
::placeholder { 
    color: #CECECE;
    opacity: 1; 
  }

 

.rectangle-textbox form input:focus {
    border-color: #1287bf;
    box-shadow: 0 0 3px 1px #1287bf;
    border-radius: 6px;
}

.rectangle-textbox form input:invalid:not(:placeholder-shown) {
    border-color: red;
    border-radius: 6px;
}

.rectangle-textbox form input:valid:not(:placeholder-shown) {
    border-color: #1287bf;
    border-radius: 6px;
}


/* THIRD SCREEN */
.third-screen {
    width: 100%;
    height: 600px;
    background-color: #2A2A2A;
    background-size: cover;
    padding-bottom: 67px;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}

.container-k {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.picture-zs {
    max-width: 100%;
    height: auto;
    display: block;
    padding-top: 12px;
    margin: 0 auto;
    border: none;
}

.container-ks {
    position: relative;
    padding-top: 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
}
.third-title {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    font-size: 36px;
    margin-bottom: -0.6em;
}

.fourth-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    color: #cecece;
    text-align: center;
    font-size: 16px;
    margin-top: -1.0em;
}

.socials-container {
    text-align: center;
    padding-top: 20px; 
}

.socials-box {
    border: 2px solid #515151;
    height: 48px;
    width: 48px;
    margin: 0 10px;
    border-radius: 4px;
    display: inline-block;
}

.email {
    display: block;
    margin: auto;
    width: 1024px;
}

.email input {
    position: relative;
    top: 15px;
    height: 45px;
    width: 890px;
    background-color: #515151;
    padding: 0 1.6%;
    border: none;
    color: #8f8f8f;
    font-family: 'Roboto';
    font-size: 14pt;
    
}

.subscribe-button {
    display: block;
    margin: auto;
    width: 1024px;
}

.subscribe {
    background-color: #2A2A2A;
    border: 2px solid #515151;
    border-radius: 5px;
    position: relative;
    top: 30px;
    height: 50px;
    padding: 0px 4.6%;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 11pt;
}

/* Footer */
.footer {
    width: 100%;
    height: 67px;
    background-color: #515151;
    background-size: cover;
    text-align: center;
}

.socials-box:hover {
	border:2px solid #DE2B24;
}

.subscribe:hover{
    border:2px solid #DE2B24;
}

.footer-title {
    padding-top: 19px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #FEFEFE;
}
